.crear-empleado-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333333cc;
    backdrop-filter: blur(10px);
    border-radius: 8px;
  }
  
  .crear-empleado-container h2 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  .crear-empleado-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .crear-empleado-container input {
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #ffffff;
    color: #333;
  }
  
  .crear-empleado-container button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .crear-empleado-container button:hover {
    background-color: #45a049;
  }