.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 20px;
  width: 100%;
  max-width: 150vh;
  backdrop-filter: blur(10px);
  height: 100%;
}

.service-card {
  background-color: #333333cc;
  backdrop-filter: blur(5px);
  max-height: 75%;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10%;
  min-height: 250px;
}

.service-card h3 {
  margin-top: 0;
  color: #fff;
}
.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 20px;
  width: 100%;
  max-width: 150vh;
  backdrop-filter: blur(10px);
  height: 100%;
}

.service-card {
  background-color: #333333cc;
  backdrop-filter: blur(5px);
  max-height: 75%;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10%;
  min-height: 250px;
}

.service-card h3 {
  margin-top: 0;
  color: #fff;
}

.service-card p {
  color: #ccc;
  flex-grow: 1;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.service-card button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  flex: 1;
  margin: 0 5px;
}

.service-card button.requested {
  background-color: #f44336;
}

.service-card button.view-supplies {
  background-color: #2196F3;
}
.divider {
  border: none;
  border-top: 5px solid #fff; 
  margin: 10px 0;
  opacity: 0.8; 
  border-radius: 25px;
}

.service-card button:hover {
  opacity: 0.8;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}

.modal-content h2 {
  margin-top: 0;
  color: #333;
}

.modal-content ul {
  list-style-type: none;
  padding: 0;
}

.modal-content li {
  margin-bottom: 10px;
  color: #666;
}

.modal-content button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.modal-content button:hover {
  background-color: #45a049;
}
.service-card p {
  color: #ccc;
  flex-grow: 1;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.service-card button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  flex: 1;
  margin: 0 5px;
}

.service-card button.requested {
  background-color: #f44336;
}

.service-card button.view-supplies {
  background-color: #2196F3;
}

.service-card button:hover {
  opacity: 0.8;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}

.modal-content h2 {
  margin-top: 0;
  color: #333;
}

.modal-content ul {
  list-style-type: none;
  padding: 0;
}

.modal-content li {
  margin-bottom: 10px;
  color: #666;
}

.modal-content button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.modal-content button:hover {
  background-color: #45a049;
}